<div class="container">
  <div class="row d-flex justify-content-center my-5">
    <div class="col-2">
      <p class="text-left">*必填欄位</p>
    </div>
    <div class="col-4">
      <p class="text-center">請修改你的支出</p>
    </div>
  </div>

  <form action="/records/{{record._id}}?_method=PUT" method="POST">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-2">
        <p class="text-left">名稱*:</p>
      </div>
      <div class="input-group col-4">
        <input type="text" class="form-control" placeholder="Item" aria-label="Item" aria-describedby="basic-addon1"
          value="{{record.name}}" required="required" name="name">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-4">
      <div class="col-2">
        <p class="text-left">日期*:</p>
      </div>
      <div class="input-group col-4">
        <input type="date" class="form-control" aria-label="Date" aria-describedby="basic-addon2"
          value="{{record.date}}" required="required" name="date">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-4">
      <div class="col-2">
        <p class="text-left">類別*:</p>
      </div>
      <div class="input-group col-4">
        <select class="custom-select" id="inputGroupSelect01" name="category">
          {{#each categoryList}}
          <option value="{{@index}}" {{#if this.isSame}} selected {{/if}}>{{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="row d-flex justify-content-center my-4">
      <div class="col-2">
        <p class="text-left">商家*:</p>
      </div>
      <div class="input-group col-4">
        <input type="text" class="form-control" placeholder="Item" aria-label="Item" aria-describedby="basic-addon1"
          value="{{record.merchant}}" required="required" name="merchant">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-4">
      <div class="col-2">
        <p class="text-left">金額*:</p>
      </div>
      <div class="input-group col-4">
        <input type="number" class="form-control" placeholder="Amount" aria-label="Amount"
          aria-describedby="basic-addon1" value="{{record.amount}}" required="required" name="amount">
      </div>
    </div>

    <div class="row d-flex justify-content-center my-5">
      <div class="col-2"></div>
      <button type="submit" class="btn btn-info">送出</button>
    </div>
  </form>
</div>