<div class="container">
  <div class="row justify-content-center mt-4 mb-5">
    <form action="/filter" method="POST">
      <div class='form-row'>
        <div class='filter_month mr-5'>
          <select class="form-control" id="month" name="month" onchange="this.form.submit()">
            <option value="">全部月份</option>
            {{#each months}}
            <option value="{{ this }}" {{#ifEqual ../selectMonth this}} selected {{/ifEqual}}>{{ this }}</option>
            {{/each}}
          </select>
        </div>
        <div class='filter_category'>
          <select class="form-control" id="category" name="category" onchange="this.form.submit()">
            <option value="">全部類別</option>
            {{#each categoryList}}
            <option value="{{@index}}" {{#if this.isSame}} selected {{/if}}>{{ this.name }}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="row d-flex justify-content-center">
    <h5 class="mr-5">總金額:</h5>
    <h1 class="text-danger">{{totalAmount}}</h1>
  </div>

  <div class="row d-flex justify-content-center mt-4">
    <ul class="list-group col-8">
      {{#each records}}
      <li class="list-group-item bg-light">
        <div class="row align-items-center">
          <div class="col-auto col-2" style="text-align: center">
            <i class="fas {{ this.icon }} fa-2x" style="color: #15aabf"></i>
          </div>

          <div class="col-auto col-3">
            <h4>{{this.name}}</h4>
            <p style="margin: 0px">{{this.date}}</p>
          </div>

          <div class="mr-auto col-1">
            <p style="margin: 0px">{{this.merchant}}</p>
          </div>

          <div class="col-auto mr-5 col-1" style="text-align: right">
            <p style="margin: 0px">{{this.amount}}</p>
          </div>

          <div class="col-auto">
            <a class="btn btn-success" href="./records/{{ this._id }}/edit">修改</a>
            <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
              onsubmit="return confirm('確定刪除嗎？')">
              <button class="btn btn-danger" type="submit">刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="row d-flex justify-content-center my-5">
    <a class="btn btn-primary" href="/records/create" role="button" style="border: 1px solid gray">新增支出</a>
  </div>
</div>